@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Sacramento&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 62.5%;
text-align: unset;
}



.navbar-container{
display: flex;
flex-direction: row;
}

.navbar-container>div{
margin: 0rem;
padding: 0.5rem;
}


.home, .resources, .connect{
flex: 1;
}


.desktop-unorder-list{
padding: 0rem;
justify-content: space-evenly;
}

.desktop-list-items{
list-style: none;
text-align: center;
}



a.home, a.resources, a.connect{
text-decoration: none;
background-color: none;
background: none;
font-family: "Josefine Sans";
text-transform: capitalize;
color:#2D3748;
font-size: 2.5rem;
}


.desktop-home:hover{
width: 7rem;
height: 1rem;
background-color: #B17FAB;
opacity: 0.8;
display: inline-block;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
}


.desktop-resources:hover{
width: 7rem;
height: 1rem;
display: inline-block;
background-color: #9FC4A4;
opacity: 0.8;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
display: inline-block;
}

.desktop-connect:hover{
width: 7rem;
height: 1rem;
display: inline-block;
background-color: #EAE7DA;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
}

.thirty-day-challenge{
text-align: center;
font-family: "Francois One";
font-size: 5rem;
margin: 0.5rem;
padding: 0.5rem;
}

.pick-calendar-day{
margin-top: 2rem;
text-align: center;
font-family: "Josefine";
font-size: 2rem;
padding: 0.5rem;
margin: 0.5rem;
}

.challenge-container{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  flex-basis: 100%;
  height: 30rem;
  padding: 1rem;
  padding-left: 0.667rem;
  border-right: solid 0rem white;
  border-bottom: solid 0rem white;
}

.challenge-container>div{
  flex: 1 0 17%;
}

.challenge-divs{
  flex: 1;
  text-align: center;
  position: relative;
  justify-content: space-evenly;
  border-left: solid  white;
  border-top: solid  white;
  padding: 1.5rem 0.5rem;
  background: #F1F8E9;
}


.challenge-divs:hover{
  background-color: #B17FAB;
  color: white;
}

.challenge-items{
  color:#2D3748;
  text-decoration: none;
  font-family: "Josefine Sans";
  margin-bottom: 0rem;
  font-size: 1.2rem;
}

.challenge-items:hover{
  color: white;
}

.challenge-items>div{
  margin: 0px;
}

a:hover{
  text-decoration: none;
}

.progress-days{
  font-family: "Francois One";
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 3.5rem;
}

.check-your-progress{
margin-top: 2rem;
text-align: center;
font-family: "Josefine";
font-size: 2rem;
padding: 0.5rem;
margin: 0px;
}

.progress-bar-div{
  margin-top: 0 !important;
  padding-top: 0 !important;
  justify-content: center;
}

.progress-bar-container{
margin: 2rem 4rem !important;
}

.progressbar{
  padding-right:0px !important;
  width: 15% !important;
}

.menu-container{
  display: flex;
  justify-content: space-evenly;
}

.menu-container>div{
margin: 2rem 1rem;
height: 35rem;
border: solid 0.6rem #DAE5EA;
}

.breakfast-container, .lunch-container, .dinner-container{
padding: 1rem;
flex-basis: 50%;
}

.breakfast-item, .lunch-item, .dinner-item{
font-size: 1rem;
font-family: "Josefine Sans";
}

.meal-name{
font-family: "Francois One";
font-size: 2.5rem;
text-align: center;

}

.recipes{
height: 20rem;
}

/* Docs */

.doc-title, .food-inspo-title{
  padding: 1rem;
}

.resources-container-1{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.column-1{
  flex: 2.4;
}
.brown-cow-1{
  max-width: 99%;
  flex: 1;
  margin: 0.5rem;
  margin-right: 0rem;
  cursor: e-resize;
}


.page-start{
  position: absolute;
  font-size: 4rem;
  color:whitesmoke;
  left: 35%;
  bottom: 0%;
}

.page-end{
  position: absolute;
  font-size: 4rem;
  color: whitesmoke;
  right: 31%;
  bottom: 0%;
}

.column-2{
flex: 1;
padding: 0rem;
display: flex;
flex-direction: column;
}

.title-1{
background-color: plum;
flex: 1;
margin: 0.5rem;
margin-bottom: 0;
}

.info-1{
margin: 0.5rem;
background-color: powderblue;
flex: 3;
}

/* Books */

.book-title{
  padding: 1rem;
}

.resources-container-2{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.column-3{
flex: 1;
padding: 0rem;
display: flex;
flex-direction: column;
}

.title-2{
  background-color: burlywood;
  flex: 1;
  margin: 0.5rem;
  margin-bottom: 0;
  }

  .info-2{
  margin: 0.5rem;
  background-color: khaki;
  flex: 3;
  }

.column-4{
  flex: 2.4;
}

.brown-cow-2{
  max-width: 99%;
  flex: 1;
  margin: 0.5rem;
  margin-left: 0rem;
  cursor: w-resize;
  }

  .brown-cow-2:hover{
    opacity: 1rem;
  }

  .page-start-2{
    position: absolute;
    font-size: 4rem;
    color:whitesmoke;
    left: 65%;
    bottom: 0%;
  }

  .page-end-2{
    position: absolute;
    font-size: 4rem;
    color: whitesmoke;
    right: 2%;
    bottom: 0%;
  }



  /* Food Inspo */

.resources-container-3{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.column-5{
  flex: 2.4;
}
.brown-cow-3{
  max-width: 99%;
  flex: 1;
  margin: 0.5rem;
  margin-right: 0rem;
  cursor: e-resize;
  opacity: 1rem;
}


.page-start-3{
  position: absolute;
  font-size: 4rem;
  color:whitesmoke;
  left: 35%;
  bottom: 0%;
}

.page-end-3{
  position: absolute;
  font-size: 4rem;
  color: whitesmoke;
  right: 31%;
  bottom: 0%;
}


  .column-6{
  flex: 1;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  }

  .title-3{
  background-color: lightcyan;
  flex: 1;
  margin: 0.5rem;
  margin-bottom: 0;
  }

  .info-3{
  margin: 0.5rem;
  background-color: peru;
  flex: 3;
  }


.contact-container {
  display: flex;
  align-items: flex-end;
}



/* mobile */
@media(max-width: 768px){
.hamburger-container{
display: flex;
flex-direction: row;
width: 6rem;
margin: 0.3rem;
}

.hamburger{
flex: 1;
padding: 0.3rem;
font-size: 3rem;
position: relative;
cursor: pointer;
}

.line{
width: 3rem;
height: 0.3rem;
margin: 0.5rem;
background: black;
}

.x{
margin-left: 0.8rem;
}


.navbar-mobile-container{
flex-direction: column;
}

.navbar-mobile-container>div{
margin: 0rem;
padding: 0rem;
}

.mobile-unorder-list{
padding: 0rem;
justify-content: space-evenly;
}

.mobile-list-items{
list-style: none;
text-align: center;
}

.mobile-home, .mobile-resources, .mobile-connect{
  flex: 1;
  }

a.mobile-home, a.mobile-resources, a.mobile-connect{
  text-decoration: none;
  background-color: none;
  background: none;
  font-family: "Josefine Sans";
  text-transform: capitalize;
  color:#2D3748;
  font-size: 2.5rem;
  }

.navbar-home:hover{
width: 7rem;
height: 1rem;
background-color: #B17FAB;
opacity: 0.8;
display: inline-block;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
}


.navbar-resources:hover{
width: 7rem;
height: 1rem;
display: inline-block;
background-color: #9FC4A4;
opacity: 0.8;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
display: inline-block;
}

.navbar-connect:hover{
width: 7rem;
height: 1rem;
display: inline-block;
background-color: #EAE7DA;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
}

.thirty-day-challenge{
  text-align: center;
  font-family: "Francois One";
  font-weight:bolder;
  font-size: 2.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
} */

.pick-calendar-day{
  margin-top: 2rem;
  text-align: center;
  font-family: "Josefine";
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.challenge-container{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: 30rem;
  padding-bottom: 0.5rem;
  border-right: solid 0rem white;
  border-bottom: solid 0rem white;
}

.challenge-divs{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  border-left: solid  white;
  border-top: solid  white;
  padding: 1.5rem 0.5rem;
  background: #F1F8E9;
}

.challenge-divs:hover{
  background-color: #B17FAB;
  color: white;
}

.challenge-items{
  color:#2D3748;
  text-decoration: none;
  font-family: "Josefine Sans";
  margin-bottom: 0rem;
  font-size: 1.2rem;
}

.challenge-items:hover{
  color: white;
}

.challenge-items>div{
  margin: 0px;
}


a:hover{
  text-decoration: none;
}


.progress-days{
  font-family: "Francois One";
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2.5rem;
}

.check-your-progress{
  margin-top: 2rem;
  text-align: center;
  font-family: "Josefine";
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0px;
}

.progress-bar-div{
  margin-top: 0 !important;
  padding-top: 0 !important;
  justify-content: center;
}

.progress-bar-container{
margin: 2rem 4rem !important;
}

.progressbar{
  padding-right:0px !important;
}

.menu-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column ;
}

.menu-container>div{
margin: 2rem 1rem;
height: 30rem;
border: solid 0.6rem #DAE5EA;
}

.breakfast-container, .lunch-container, .dinner-container{
padding: 1rem;
flex-basis: 30%;
}

.breakfast-item, .lunch-item, .dinner-item{
font-size: 1rem;
font-family: "Josefine Sans";
}

.meal-name{
font-family: "Francois One";
font-size: 2.5rem;
text-align: center;

}

.details-button{
background-color: white;
padding: 0.4rem;
}


.recipes{
  height: 20rem;
}

.lunch-container{
  padding: 1rem;
}

.dinner-container{
  padding: 1rem;
}

.contact-container{
  margin: 0.5rem;
  height: 24rem;
  background-color: #FCFCFA;
}

.contact-header{
  font-family: "Francois One";
  font-size: 2.5rem;
  text-align: center;
}

.email-container{
  display: flex;
  height: 10.25rem;
}

.email-address{
  font-size: 1rem;
}

.fa-envelope-o{
  padding: 0.5rem;
}

.instagram-container{
  display: flex;
  height: 10.25rem;
}

.instagram-handle{
  font-family: "Josefine Sans";
  font-size: 1.2rem;
}

.fa-instagram{
  padding: 0.5rem;
}

}
