@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Sacramento&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 62.5%;
text-align: unset;
}


.hamburger-container{
display: flex;
flex-direction: row;
width: 6rem;
margin: 0.3rem;
}

.hamburger{
flex: 1;
padding: 0.3rem;
font-size: 3rem;
position: relative;
cursor: pointer;
}

.line{
width: 3rem;
height: 0.3rem;
margin: 0.5rem;
background: black;
}

.x{
margin-left: 0.8rem;
}

.navbar-container{
display: flex;
flex-direction: row;
}

.navbar-container>div{
margin: 0rem;
padding: 0.5rem;
}


.home, .resources, .connect{
flex: 1;
}


.navbar-mobile-container{
flex-direction: column;
}

.navbar-mobile-container>div{
margin: 0rem;
padding: 0rem;
}

.mobile-unorder-list{
padding: 0rem;
justify-content: space-evenly;
}

.mobile-list-items{
list-style: none;
text-align: center;
}


a.home, a.resources, a.connect{
text-decoration: none;
background-color: none;
background: none;
font-family: "Josefine Sans";
text-transform: capitalize;
color:#2D3748;
font-size: 2.5rem;
}


.navbar-home:hover{
width: 7rem;
height: 1rem;
background-color: #B17FAB;
opacity: 0.8;
display: inline-block;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
}


.navbar-resources:hover{
width: 7rem;
height: 1rem;
display: inline-block;
background-color: #9FC4A4;
opacity: 0.8;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
display: inline-block;
}

.navbar-connect:hover{
width: 7rem;
height: 1rem;
display: inline-block;
background-color: #EAE7DA;
transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
}

.thirty-day-challenge{
text-align: center;
font-family: "Francois One";
font-size: 5rem;
margin: 0.5rem;
padding: 0.5rem;
}

.pick-calendar-day{
margin-top: 2rem;
text-align: center;
font-family: "Josefine";
font-size: 2rem;
padding: 0.5rem;
margin: 0.5rem;
}

.challenge-container{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  flex-basis: 100%;
  height: 30rem;
  padding: 1rem;
  padding-left: 0.667rem;
  border-right: solid 0rem white;
  border-bottom: solid 0rem white;
}

.challenge-container>div{
  flex: 1 0 17%;
}

.challenge-divs{
  flex: 1;
  text-align: center;
  position: relative;
  justify-content: space-evenly;
  border-left: solid  white;
  border-top: solid  white;
  padding: 1.5rem 0.5rem;
  background: #F1F8E9;
}


.challenge-divs:hover{
  background-color: #B17FAB;
  color: white;
}

.challenge-items{
  color:#2D3748;
  text-decoration: none;
  font-family: "Josefine Sans";
  margin-bottom: 0rem;
  font-size: 1.2rem;
}

.challenge-items:hover{
  color: white;
}

.challenge-items>div{
  margin: 0px;
}

a:hover{
  text-decoration: none;
}

.progress-days{
  font-family: "Francois One";
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 3.5rem;
}

.check-your-progress{
margin-top: 2rem;
text-align: center;
font-family: "Josefine";
font-size: 2rem;
padding: 0.5rem;
margin: 0px;
}

.progress-bar-div{
  margin-top: 0 !important;
  padding-top: 0 !important;
  justify-content: center;
}

.progress-bar-container{
margin: 2rem 4rem !important;
}

.progressbar{
  padding-right:0px !important;
  width: 15% !important;
}

.menu-container{
  display: flex;
  justify-content: space-evenly;
}

.menu-container>div{
margin: 2rem 1rem;
height: 35rem;
border: solid 0.6rem #DAE5EA;
}

.breakfast-container, .lunch-container, .dinner-container{
padding: 1rem;
flex-basis: 50%;
}

.breakfast-item, .lunch-item, .dinner-item{
font-size: 1rem;
font-family: "Josefine Sans";
}

.meal-name{
font-family: "Francois One";
font-size: 2.5rem;
text-align: center;

}

.recipes{
height: 20rem;
}



.contact-container {
  display: flex;
  align-items: flex-end;
}










/* mobile */
@media(max-width: 768px){

.thirty-day-challenge{
  text-align: center;
  font-family: "Francois One";
  font-weight:bolder;
  font-size: 2.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
} */

.pick-calendar-day{
  margin-top: 2rem;
  text-align: center;
  font-family: "Josefine";
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.challenge-container{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: 30rem;
  padding-bottom: 0.5rem;
  border-right: solid 0rem white;
  border-bottom: solid 0rem white;
}

.challenge-divs{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  border-left: solid  white;
  border-top: solid  white;
  padding: 1.5rem 0.5rem;
  background: #F1F8E9;
}

.challenge-divs:hover{
  background-color: #B17FAB;
  color: white;
}

.challenge-items{
  color:#2D3748;
  text-decoration: none;
  font-family: "Josefine Sans";
  margin-bottom: 0rem;
  font-size: 1.2rem;
}

.challenge-items:hover{
  color: white;
}

.challenge-items>div{
  margin: 0px;
}


a:hover{
  text-decoration: none;
}


.progress-days{
  font-family: "Francois One";
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2.5rem;
}

.check-your-progress{
  margin-top: 2rem;
  text-align: center;
  font-family: "Josefine";
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0px;
}

.progress-bar-div{
  margin-top: 0 !important;
  padding-top: 0 !important;
  justify-content: center;
}

.progress-bar-container{
margin: 2rem 4rem !important;
}

.progressbar{
  padding-right:0px !important;
}

.menu-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column ;
}

.menu-container>div{
margin: 2rem 1rem;
height: 30rem;
border: solid 0.6rem #DAE5EA;
}

.breakfast-container, .lunch-container, .dinner-container{
padding: 1rem;
flex-basis: 30%;
}

.breakfast-item, .lunch-item, .dinner-item{
font-size: 1rem;
font-family: "Josefine Sans";
}

.meal-name{
font-family: "Francois One";
font-size: 2.5rem;
text-align: center;

}

.details-button{
background-color: white;
padding: 0.4rem;
}


.recipes{
  height: 20rem;
}

.lunch-container{
  padding: 1rem;
}

.dinner-container{
  padding: 1rem;
}

.contact-container{
  margin: 0.5rem;
  height: 24rem;
  background-color: #FCFCFA;
}

.contact-header{
  font-family: "Francois One";
  font-size: 2.5rem;
  text-align: center;
}

.email-container{
  display: flex;
  height: 10.25rem;
}

.email-address{
  font-size: 1rem;
}

.fa-envelope-o{
  padding: 0.5rem;
}

.instagram-container{
  display: flex;
  height: 10.25rem;
}

.instagram-handle{
  font-family: "Josefine Sans";
  font-size: 1.2rem;
}

.fa-instagram{
  padding: 0.5rem;
}

.equal-heigh-container{
  max-width: 900px;
  margin: 0 auto;
  display:flex;
}

.resources-image{
padding: 2rem;
flex: 1;
}

.resources-header-container{
background-color: khaki;
flex: 1
}

.first{
background-color: greenyellow;
}

.second{
background-color: hotpink;
}

}



/* .contact-container{
background:B17FAB;
margin: 1rem 1rem;
padding: 1rem;
} */

/* .resources-image-first{
background-color: green;
padding: 20px;
height: 500px;
flex: 5;
}


.resources-container-second{
background-color: linen;
flex: 3;
display: flex;
flex-direction: column;
margin: 5px;
}

.resource-1{
background-color: thistle;
flex: 1;
margin: 5px;
}

.resource-2{
background-color: teal;
flex: 1;
margin: 5px;
}

.resources-container-third{
background-color: plum;
display: flex;
flex: 3;
flex-direction: column;
margin: 5px;

}

.resource-3{
background-color: royalblue;
flex: 1;
margin: 5px;
}

.resource-4{
background-color: seagreen;
flex: 1;
margin: 5px;
} */
